<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Trinity Mesh</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="shortcut icon" href="{%  static 'icons/snow.ico' %}">

  </head>

  <style media="screen">
    .Spark {
      color:orange;
    }
    .Device {
      color:tomato;
    }
    .origin {
      color: pink;
    }
  </style>
  <body>

    <div class="container">

    <div class="jumbotron">
      <p>Dis is the filter block</p>
      <p>Sparks from ?</p>
      <p>Sparks to ?</p>
      <p>Sparks arriving at ?</p>
      <p>Show Sparks | Devices | Both</p>

    </div>

      {% for order_key, this_log in context.items %}
              {% if "Type" in this_log %}
                  <div class="jumbotron">
                  <div class="{{this_log.Type}}">

                  {{ order_key }}

                  {% if this_log.Type == "Spark" %}
                          <i class="fa fa-bolt fa-2x"></i>
                          from <span class='origin'>{{this_log.origin}}</span> to {{this_log.destination}} has arrived at {{this_log.arrival}}
                          </div>
                          <hr>
                          {{this_log.status}}

                  {% elif this_log.Type == "Device" %}
                          <i class="fa fa-tablet fa-2x"></i>
                          found at {{this_log.at}}
                          </div>
                  {% endif %}
              {% endif %}
      </div>
    {% endfor %}
</div>
  </body>
</html>
